
# Environments
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Databases
*.db
*.sqlite3

# Logs
scraper.log
*.log

# Temp/Dummy Data
cleaning-normalization/*.csv
cleaning-normalization/*.py
five-airfare-test-sites/

# System
.vscode/
.idea/
.DS_Store
Thumbs.db
